#mapid 
{ 
	height: 35em; 
	margin-left: 10em;
	margin-right: 10em;
	
}

#upper
{
        display:inline-block;
}

#lower
{
        display:inline-block;
}

html, body 
{
    margin: 0;
    height: 100%;
}

